<div>
    <div class="col-md-3" >
        
    </div>

    <div class="col-md-6 jumbotron">
        <div>
            Name: <input type="text" ng-model="name" /><br />
            Message: <input type="text" ng-model="message" /><br />
            <input type="button" value="Send" ng-click="newMessage()" />
        </div>
        <div>
            <ul>
                <li ng-repeat="chat in messages">
                    <span ng-bind="chat"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-warning" ng-click="login()">Login</button>
    </div>
</div>